@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(255, 255, 255);
}

.short_discription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}